<div id="mainAbout">
    <div class="container">
        <div id="aboutpage" class="card text-bg-light mb-3">
            <div id="container">
                <div id="row">
                    <div id="card-body">
                        <h3 class="card-title">Qui sommes-nous ?</h3>
                        <p class="card-text">Bienvenue dans l'univers merveilleux d'"Au Petit Village" ! Nous sommes une
                            équipe de 15 artisans passionnés, unis par un amour profond pour l'univers d'Astérix et
                            Obélix. Nichés au cœur de notre atelier, nous donnons vie aux personnages et scènes
                            emblématiques de la bande dessinée, à travers la création de figurines uniques, entièrement
                            faites à la main.
                            <br /><br />
                            Chacun de nous apporte son savoir-faire et sa touche personnelle, que ce soit dans la
                            sculpture, la peinture, ou le souci du détail. Notre objectif ? Raviver la flamme de la
                            nostalgie chez les petits et grands fans de la célèbre série gauloise.
                            <br /><br />
                            Chez "Au Petit Village", nous ne nous contentons pas de reproduire des personnages, nous
                            capturons l'essence même de l'univers d'Astérix et Obélix : l'humour, la camaraderie et le
                            courage face à l'adversité. De la potion magique de Panoramix aux sangliers d'Obélix, chaque
                            figurine raconte une histoire et vous invite à replonger dans les aventures inoubliables de
                            nos héros.
                            <br /><br />
                            Nous sommes fiers de vous proposer des pièces uniques, reflet de notre passion et de notre
                            engagement envers la qualité. Rejoignez-nous dans cette aventure artisanale et partagez la
                            magie du "Petit Village" !<br/><br/></p>
                        <img id="equipe" [src]="cheminEquipe" alt="Photo de notre équipe"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>