<div class="front">
    <div id="presentation">
        <img id="logo" [src]="cheminLogo" alt="Logo au petit village"/>
        <h1>Le village gaulois s'invite chez vous !</h1><br/>
        <button type="button" class="btn btn-primary">Boutique</button>
    </div>
</div>
<div class='container' >
    <div id="about" class="card text-bg-light mb-3">
        <div class='container'>
            <div class="row">
                <div class="card-body  ">
                    <h2 class="card-title">Au Petit Village : Une escale en Gaule pour les nostalgiques</h2>
                    <p class="card-text">Plongez au cœur de l'univers d'Astérix et Obélix avec "Au Petit Village". Notre boutique vous invite à un voyage dans le temps, à la rencontre de vos héros de jeunesse. Revivez les aventures du petit Gaulois et de son ami Obélix grâce à notre collection exclusive de figurines. Des personnages emblématiques aux scènes cultes, chaque pièce est une invitation à la nostalgie et à la collection.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-figurines-list></app-figurines-list>